body {
	background-color: #2C2F33;
}

h2 {
	color: #F4EFEF;
	font-size: 60px;
	font-family: "whitney";
}

p {
	color: #A3A3A3;
	font-size: 40px;
	font-family: "whitney";
	display: inline;
}

#topbar {
	width: 100%;
	position: fixed;
	z-index: 4;
	height: 200px;
	background-color: #2C2F33;
}

#topborder {
	height:1px;
	width: 100%;
	position: fixed;
	z-index: 5;
	top: 200px;
	background-color: #0D0D0D;
	box-shadow: 5px 1px 2px #0D0D0D;
}

#partner {
	position: absolute;
	height: 150px;
	left: 150px;
	z-index: 5;
	bottom: 40px;
}

input[type = text] {
	position: fixed;
	z-index: 3;
	background: #2C2F33;
	font-size: 50px;
	font-family: "whitney";
	color: #585858;
	height: 200px;
	width: 100%;
	left: 0px;
	bottom: 0px;
	border-color: #1A1A1A;
	border-top-width: 1px;
	text-indent: 220px;
}

input:focus {
	color: #F4EFEF;
}

input[type = submit] {
	position: fixed;
	z-index: 4;
	border: none;
	height: 200px;
	width: 200px;
	right: 0px;
	bottom: 0px;
	background: url("submit.png");	
}

h3 {
	color: #F4EFEF;
	font-size: 45px;
    font-family: "whitney";
}

#mainchat {
	position: absolute;
	top: 205px;
	left: 15px;
	height: 100%;
	width: 1200px;
	overflow: auto;
}

::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-thumb{
	background: #565656;
}
